@font-face {
    font-family:Helvetica;
    src:url('HELVETICA.eot') format('embedded-opentype'),
        url('HELVETICA.woff') format('woff'),
        url('HELVETICA.woff2') format('woff2');
}
body{
    font-family:Helvetica;
    font-weight:400;
}
